// Font Declaration (COMMENT OUT WHEN FINAL BUILD)
@font-face {
    font-family: 'Poppins'
    font-weight: 400;
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins'
    font-weight: 500;
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto'
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto'
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

* {
    -fx-font-smoothing-type: gray;
}

// Styles
.btn {
    -fx-padding: 8 24;
    -fx-background-radius: 50em;
}

.btn-primary {
    -fx-background-color: rgba(100, 134, 221, 1);
    -fx-text-fill: rgba(255, 255, 255, 1);
}

.btn-secondary {
    -fx-background-color: #343434;
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-border-insets: -2px;
    -fx-border-radius: 50em;
    -fx-border-color: white;
}

.text-fill-primary {
    -fx-text-fill: rgba(100, 134, 221, 1);
}

.text-fill-gray {
    -fx-text-fill: #ababab;
}

.heading-regular {
    -fx-font-family: 'Roboto';
    -fx-text-fill: white;
}

.heading-medium {
    -fx-font-family: 'Roboto Medium';
    -fx-text-fill: white;
}

.body-regular {
    -fx-font-family: 'Poppins';
    -fx-font-size: 14;
    -fx-text-fill: white;
}

.body-medium {
    -fx-font-family: 'Poppins Medium';
    -fx-font-size: 14;
    -fx-text-fill: white;
}

.h1 {
    -fx-font-size: 32;
}

.h2 {
    -fx-font-size: 24;
}

.h3 {
    -fx-font-size: 18;
}

.h4 {
    -fx-font-size: 16;
}

.h5 {
    -fx-font-size: 14;
}

.h6 {
    -fx-font-size: 10;
}

.bg-color {
    -fx-background-color:  #343434;
}

.vaccination-status {
    -fx-padding: 1em 1.5em;
    -fx-text-fill: black;
    -fx-background-radius: 10px;
    -fx-background-color: #FF7B7B;
}

.mfx-table-view .header .text {
    -fx-font-family: 'Roboto Medium';
    -fx-font-size: 16;
}

/* Table View */
.mfx-table-view {
    -fx-font-family: 'Poppins Medium';
}

.mfx-table-view .pagination-controls-container .mfx-combo-box {
    -fx-background-color: rgb(232, 232, 232);
    -fx-background-radius: 3 3 0 0;
    -fx-border-width: 1.5;
    -mfx-line-color: rgb(0, 142, 237);
    -mfx-unfocused-line-color: rgb(159, 159, 159);
}

.mfx-table-view .pagination-controls-container .mfx-combo-box .label {
    -fx-padding: 0 0 0 5;
    -fx-font-family: "Poppins Medium";
    -fx-font-smoothing-type: grey;
}

.mfx-table-view .pagination-controls-container .mfx-combo-box .mfx-icon-wrapper .mfx-ripple-generator {
    -mfx-ripple-color: rgba(0, 112, 224, 0.3);
}

.mfx-table-view .pagination-controls-container .mfx-combo-box .mfx-icon-wrapper .mfx-font-icon {
    -mfx-color: black;
}

.mfx-table-view .pagination-controls-container .mfx-combo-box:focused .mfx-icon-wrapper .mfx-font-icon {
    -mfx-color: rgb(0, 112, 224);
}

.mfx-table-view .pagination-controls-container .mfx-combo-box:editor .mfx-icon-wrapper .mfx-font-icon {
    -mfx-color: rgb(0, 112, 224);
}

.mfx-table-view .pagination-controls-container .mfx-list-view {
    -fx-background-color: white;
    -fx-border-color: #A4B1B6;
    -fx-background-insets: 0 -1 0 -1;
    -fx-border-insets: 0 -1 0 -1;

    -mfx-track-color: transparent;
    -mfx-thumb-color: rgba(0, 112, 224, 0.1);
    -mfx-thumb-hover-color: rgb(107, 179, 255);
}

.mfx-table-view .pagination-controls-container .mfx-list-view .mfx-list-cell:hover {
    -fx-background-color: rgb(242, 242, 242);
    -fx-border-color: rgb(242, 242, 242);
}

.mfx-table-view .pagination-controls-container .mfx-list-view .mfx-list-cell:selected {
    -fx-background-color: rgb(153, 189, 255);
    -fx-border-color: rgb(153, 189, 255);
}

.mfx-date-picker .value {
    -fx-text-fill: white;
    -fx-font-family: "Poppins Medium";
}

.table-column {
    -fx-size: 40;
    -fx-padding: 12;
}

.mfx-checkbox {
    -mfx-checked-color: rgb(100, 134, 221);
}

.body-regular:determinate .label .text {
    -fx-fill: white;
}