// Font Declaration (COMMENT OUT WHEN FINAL BUILD)
@font-face {
    font-family: 'Poppins'
    font-weight: 400;
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins'
    font-weight: 500;
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto'
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto'
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

* {
    -fx-font-smoothing-type: gray;
}

// Styles
.btn {
    -fx-padding: 8 20 !important;
}

.btn-primary {
    -fx-background-color: #a2f279 !important;
    -fx-text-fill: black !important;
}

.btn-secondary {
    -fx-background-color: #6896F3 !important;
    -fx-text-fill: white !important;
}

.text-fill-primary {
    -fx-text-fill: #404040 !important;
}

.text-fill-gray {
    -fx-text-fill: #ababab !important;
}

.heading-regular {
    -fx-font-family: 'Roboto';
}

.heading-medium {
    -fx-font-family: 'Roboto Medium';
}

.body-regular {
    -fx-font-family: 'Poppins';
    -fx-font-size: 14;
}

.body-medium {
    -fx-font-family: 'Poppins Medium';
    -fx-font-size: 14;
}

.h1 {
    -fx-font-size: 32;
}

.h2 {
    -fx-font-size: 24;
}

.h3 {
    -fx-font-size: 18;
}

.h4 {
    -fx-font-size: 16;
}

.h5 {
    -fx-font-size: 14;
}

.h6 {
    -fx-font-size: 10;
}